.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid white;
  a {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
}

.menu-items {
  ul {
    display: flex;
    gap: 20px;
    li {
      list-style: none;
      a{
        font-weight: 300;
      }
    }
  }
}

.menu-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu-items {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: #3f51b5;
    box-shadow: 0 4px 2px -2px gray;
    ul {
      flex-direction: column;
      gap: 4px;
      padding: 0 10px;
      a {
        font-size: 14px;
        color: rgb(54, 54, 54);
      }
    }
  }
}
