.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
  width: 100%;
  margin: 0;
}

app-project {
  background-color: #f0f0f0;
}

table {
  width: 100%;
}

.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-cell{
  text-align: right;
  width: 5%;
}

th, td{
  width: 45%;
}
